* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #ffffff, #ffffff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 8px 16px rgba(5, 1, 53, 0.1);
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 800px;
    padding: 40px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.home-container:hover {
    transform: scale(1.05);
}

.home-header h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.8rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.home-header p {
    font-family: monospace;
    font-size: 1.2rem;
    color: #c0cdce;
    margin-bottom: 25px;
}

.start-btn {
    background-color: #98c82f;
    color: white;
    font-size: 1.3rem;
    padding: 14px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: 500;
    letter-spacing: 1px;
}

.start-btn:hover {
    background-color: #a6e914;
    transform: translateY(-5px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.start-btn:active {
    transform: translateY(0);
}

.home-footer {
    margin-top: 30px;
    font-size: 1rem;
    color: #ffffff;
    letter-spacing: 0.5px;
}
